body {
    font-family: Arial, sans-serif;
    margin: 0;
    margin-top: 100px; 
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 1000;
    box-sizing: border-box; 
}

header img {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 40px;
}

.nav-container {
    position: fixed;
    top: 60px;
    width: 100%;
    background-color: #444;
    z-index: 999;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #444;
}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    font-size: medium;
}

nav a:hover {
    background-color: #555;
}

.image-container {
    position: relative;
    width: 100%;
}

.avengers-group img {
    width: 100vw;
    height: 730px;
    display: block;
    object-fit: cover;
}

.overlay-text {
    position: absolute;
    top: 84%; 
    left: 20%; 
    transform: translate(-50%, -50%); 
    color: white;
    font-size: 3em; 
    font-weight: bold;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.9);
    z-index: 10; 
}


.dots-container {
    position: absolute;
    bottom: 10px;
    left: 50%; 
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 5; 
}

.dot {
    width: 12px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.6); 
    border-radius: 50%;
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
}

.dot.active {
    background-color: #ffff;
    transform: scale(1.5); 
}

.profile-section {
    background-color: white;
    color: black;
    padding: 80px;
}

.profile-container {
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    justify-content: center;
    align-items: center;
    gap: 130px;
    margin: 0 auto;
}

.profile-pic img {
    width: 732px;
    height: 273px;
}

.bio {
    max-width: 600px;
}

.bio h2 {
    font-size: 2.5em; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
    letter-spacing: 2px; 
    font-weight: bold; 
    text-transform: uppercase;
    margin-bottom: 20px; 
}

.bio p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: justify;
}

.movies-section {
    text-align: center;
    padding: 50px;
    background-color: #f4f4f4; 
    border-radius: 10px;
}

.movies-section h2 {
    font-size: 2.5em; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
    letter-spacing: 2px; 
    font-weight: bold; 
    text-transform: uppercase;
    margin-bottom: 20px; 
}

.movies {
    display: flex;
    flex-wrap: wrap;
    height: 570px;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.movie {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 270px;
    height: 520px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.movie:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.movie:hover h3 {
    color: #FF4500; 
    transition: color 0.3s ease; 
}

.movie img {
    width: 100%;
    height: 380px;
    object-fit: cover;
}

.movie h3 {
    margin: 15px 30px;
    font-size: 1.2em;
    color: #444;
}

.movie p {
    font-size: 1.2em;
    padding: 0 10px 10px;
    color: #777;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
}

@media (max-width: 393px) {
    body {
        margin-top: 91px; 
    }

    header {
        width: 393px;
    }

    header img {
        width: 160px; 
        height: auto;
    }

    nav {
        flex-wrap: wrap; 
    }

    .nav-container {
        width: 393px;
        top: 56px;
    }

    nav a {
        font-size: small; 
        padding: 10px; 
    }

    .image-container {
        width: 100%;
        height: 270px; 
        overflow: hidden; 
    }
    
    .image-container img {
        width: 100%;
        height: 100%; 
        object-fit: cover;
    }

    .overlay-text {
        font-size: 1.2em; 
        top: 75%; 
        left: 35%; 
        transform: translate(-50%, -50%);
    }

    .dot {
        width: 8px;
        height: 8px;
    }

    .profile-section {
        padding: 35px;
    }

    .profile-container {
        flex-direction: column; 
        gap: 20px; 
    }

    .profile-pic img {
        width: 100%;
        height: auto; 
    }

    .bio h2 {
        font-size: 1.8em; 
    }

    .bio p {
        font-size: 1em; 
    }

    .movies-section h2 {
        margin-bottom: 60px;
    }

    .movies {
        flex-direction: column; 
        align-items: center; 
        gap: 40px; 
        height: auto; 
    }

    .movie {
        max-width: 90%; 
        height: auto; 
    }

    .movie img {
        height: auto;
    }

    footer {
        font-size: small; 
        padding: 5px; 
    }
}

