body {
    font-family: Arial, sans-serif;
    margin: 0;
    margin-top: 100px; 
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 1000;
    box-sizing: border-box; 
}

header img {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 40px;
}

.nav-container {
    position: fixed;
    top: 60px;
    width: 100%;
    background-color: #444;
    z-index: 999;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #444;
}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    font-size: medium;
}

nav a:hover {
    background-color: #555;
}

.image-container {
    position: relative;
    width: 100%;
}

.avengers-group img {
    width: 100vw;
    height: 730px;
    display: block;
    object-fit: cover;
}

.overlay-text {
    position: absolute;
    top: 84%; 
    left: 20%; 
    transform: translate(-50%, -50%); 
    color: white;
    font-size: 3em;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9); 
    z-index: 10; 
}

.dots-container {
    position: absolute;
    bottom: 10px;
    left: 50%; 
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 5; 
}

.dot {
    width: 12px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.6); 
    border-radius: 50%;
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
}

.dot.active {
    background-color: #ffff;
    transform: scale(1.5); 
}

.about-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    max-width: 1600px;
    height: 700px;
    margin: 0 auto;
}

.about-pic img {
    width: 467px;
    height: 200px;
}

.about-content {
    max-width: 600px;
}

.about-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.about-section p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: justify;
}



footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
}
